<%= form_with(model: @tsubuyaki, local: true ,url: choose_new_or_edit ) do |form| %>
    <% if @tsubuyaki.errors.any? %>
      <div id="error_explanation">
        <h2><%= @tsubuyaki.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @tsubuyaki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="tsubuyaki_content">
      <%= form.label :content, '本文' %><br><br>
      <%= form.text_field :content %>
    </div><br>

    <%= form.submit '投稿'%>
  <% end %>

  <%= link_to "一覧画面にもどる", tsubuyakis_path %>