<!DOCTYPE html>
<html>
  <head>
    <title>つぶやき</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <header class="header clearfix">
        <a href=""><img src="/assets/tsubuyaki.png" class="logo_image"></a>
          <nav>
            <ul class="top_menu clearfix">
              <li>つぶやき</li>
            </ul>
          </nav>
      </header>

      <div class="wrapper clearfix">
      <%= yield %>
      </div>

      <footer class="footer">
      </footer>
    </div>

  </body>
</html>
